@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@700&display=swap');

.App {
  text-align: center;
  padding-top: 50px;
  background-color: #000000;
  min-height: 100vh;
  color: #61a257;
  font-family: 'Inconsolata', monospace;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.card {
  border: solid 1px #61a257;
  background-color: #000000;
  border-radius: 0;
}

.card-body {
  margin: 50px 0px;
}

.element-margin {
  margin-bottom: 20px;
}
